/**========================================================
    RESPONSIVE CSS

    Created: Feb. 26, 2015

    Browsers supported: IE8+, Chrome35+, Firefox34+

    Known limitations:
    - 

    CONTENTS
        1 - COLORS
        2 - GENERAL 
        3 - TYPE
        4 - HEADER
        5 - CONTENT
        6 - SIDEBAR
        7 - FOOTER
        8 - MEDIA QUERIES

========================================================**/

/**========================================================
    1 - COLORS 
========================================================**/

.dark-red-bg {
    background-color: #8E0A0A;
}

.orangey-bg {
    background-color: #C73924;
}

.yellowish-bg {
    background-color: #E08745;
}

.dk-green-bg {
    background-color: #32402D;
}

.greyish-bg {
    background-color: #4F423B;
}

.dark-red {
    color: #8E0A0A;
}

.orangey {
    color: #C73924;
}

.yellowish {
    color: #E08745;
}

.dk-green {
    color: #32402D;
}

.greyish {
    color: #4F423B;
}

/**========================================================
    2 - GENERAL 
========================================================**/

body {
    margin: 0;
    padding: 0;
    background: #000 url(../img/star-bg.png) repeat;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, Calibri, sans-serif;
    font-size: 1em;
    color: #4F423B;
}

.container {
    width: 95%;
    margin: 0px auto;
}

/* clearfix from: http://css-tricks.com/snippets/css/clear-fix/ 
   Good for IE8 and above */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/**========================================================
    3 - TYPE
========================================================**/

@font-face {
  font-family: 'SpinCycle';
  src: url('font/SPINC___.TTF')  format('truetype');
}

h1{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'SpinCycle', Geneva, Tahoma, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
}

h2 {
    font-family: 'Comfortaa', CenturyGothic, AppleGothic, Calibri, sans-serif;
    font-weight: 400;
    font-size: 1.8em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 190%;
}

a {
    color: #8E0A0A;
}

/**========================================================
    4 - HEADER
========================================================**/

#header {
    margin: 0 auto;
    padding: 1rem 0 0 0;
}

/* Logo */

#logo {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}